<div class="container">
	<!--<side-wrapper>
		<div side-bar link-data="overviewLinks"></div>
	</side-wrapper>
	-->

	<content-wrapper>
		<a name="overview" class="anchor"></a>

		<h2 class="section-title" id="intro-title">Welcome everyone</h2>
		<h5>The <strong>MWI Digital Standards Guide</strong> is here!</h5>

		<h3>Why have a Digital Standards Guide?</h3>
		<h5>Two big reasons:
			<ul>
				<li>To convey a consistent brand across all MWI digital properties</li>
				<li>To make development faster and more efficient (remember, that’s not the same as magically
					complete—there’s still a lot of work to do to apply these elements and styles)
				</li>
			</ul>
		</h5>

		<h3>Principles we have followed in making style guide </h3>
		<h5> We have followed these principles when we desinged the DSG. ITCSS, Atomic Design and BEM. You can read more
			about here
		</h5>

		<h3>The folder structure </h3>
		<h5>The main folder you should look at is the app/ folder. It contains docs and src folders. Src is all the
			Sass, HTML and JS files you will need (in case you want to copy any code). Docs contains all the files that
			are responsible for documenting Src.</h5>

		<h3>The best way to find code </h3>
		<h5> We tried to match the folder structure to the navigation in this site. For example, Atoms in the menu bar
			corresponds to app/src/views/atoms.</h5>

		<h3>What browsers are supported?</h3>
		<h5>On desktop we support the following:</h5>
		<ul>
			<li>Internet Explorer 8/9/10/11 (IE8 isn't fully supported by all styles, though it should function
				properly)
			</li>
			<li>Firefox 32+</li>
			<li>Chrome 37+</li>
			<li>Safari 6.1+</li>
		</ul>

		<h3>What happens next?</h3>
		<h5>This is just the beginning. Some sites have already been selected to undergo redesign. As sites undergo
			redesigns, additional elements that are needed will be designed and baked into the guide.</h5>

		<!--<mwi-about-docs></mwi-about-docs>-->

	</content-wrapper>
</div>
