<div>
    <table class="table order-history-orders__table col-xs-12"
           ng-if="!!items && !!items.length && !!(items | filter:filter).length">
        <thead>
        <tr class="info-title">
            <td>Product / MFG</td>
            <td class="text-left">SKU <span ng-if="hasGlCodes">/ GL Code</span></td>
            <td class="text-left">Unit / Size</td>
            <td class="text-center">Unit Price</td>
            <td class="text-right">Qty</td>
            <td class="text-right">Tax</td>
            <td class="text-right">Total</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items | filter:filter">
            <td>
                <a class="detail-orders__shipment-item__product-name title--small"
                   ng-href="/products/{{item[mappings.productId]}}" ng-bind="item[mappings.product]"></a>

                <div class="detail-orders__shipment-item__manufacturer-name"
                     ng-bind="item[mappings.manufacturer]"></div>
            </td>
            <td class="text-left">
                <div class="detail-orders__shipment-item__sku"><span
                        ng-if="hasCustomSkus && !item[mappings.sku]">MWI</span> <span
                        ng-bind="skuDisplayText(item)"></span></div>
                <div class="detail-orders__shipment-item__gl-code" ng-bind="item[mappings.glCode]"></div>
            </td>
            <td class="text-left">
                <div class="detail-orders__shipment-item__unit" ng-bind="item[mappings.unit]"></div>
                <div class="detail-orders__shipment-item__size" ng-bind="item[mappings.size]"></div>
            </td>
            <td class="detail-orders__shipment-item__quantity text-center"
                ng-bind="item[mappings.unitPrice] | currency:'$':2"></td>
            <td class="detail-orders__shipment-item__quantity text-right" ng-bind="item[mappings.quantity]"></td>
            <td class="detail-orders__shipment-item__tax text-right" ng-bind="item[mappings.tax] | currency:'$':2"></td>
            <td class="detail-orders__shipment-item__total rollup-title--detail--xs--small text-right"
                ng-bind="item[mappings.total] | currency:'$':2"></td>
        </tr>
        </tbody>
    </table>
</div>