<div>
	<div class="well">
	<div class="container">
	<a name="atoms" class="anchor"></a>
		<h2>
			Atoms
		</h2>
		<h5>Basic ui components with distinct properties such as buttons, inputs, labels etc.</h5>
	</div>
	</div>

	<div class="container">


	<side-wrapper ng-if='!showSideNav'>
	<div  class="sidebar" side-bar link-data="atomsLinks"></div>
	</side-wrapper>

	<content-wrapper>

	<section>
	<a name="text" class="anchor"></a>
	<div class="page-header">
	<h2>Text</h2>
	<h5>Represented as classes that you can apply to achieve a particular visual treatment for text.
		For example: <code>.text--cta</code> to apply a call to action type to the text</h5>
	</div>
	<mwi-text></mwi-text>
	</section>

	<section>
	<a name="buttons" class="anchor"></a>
	<div class="page-header">
	<h2>Buttons</h2>
	<h5>Classes applied to buttons.</h5>
	</div>
	<mwi-buttons></mwi-buttons>
	</section>

	<section>
	<a name="tables" class="anchor"></a>
	<div class="page-header">
	<h2>Tables</h2>
	<h5>The tables styling is quite basic. In this example, we are using different text treatments with table (<code>.text-bold</code>,<code>.text-lg</code>)</h5>
	</div>
	<mwi-tables></mwi-tables>
	</section>	

	<section>
	<a name="inputs" class="anchor"></a>
	<div class="page-header">
	<h2 >Inputs</h2>
	<h5>Input types.</h5>
	</div>
	<mwi-inputs></mwi-inputs>
	</section>

	<section>
	<a name="pagination" class="anchor"></a>
	<div class="page-header">
	<h2 >Pagination</h2>
	<h5>Pagination component.</h5>
	</div>
	<mwi-pagination></mwi-pagination>
	</section>

	<section>
	<a name="breadcrumbs" class="anchor"></a>
	<div class="page-header">
	<h2 >Breadcrumbs</h2>
	<h5>Filter breadcrumbs</h5>
	</div>
	<mwi-breadcrumbs></mwi-breadcrumbs>
	</section>

	<section>
	<a name="loader" class="anchor"></a>
	<div class="page-header">
	<h2 >Material Spinner</h2>
	</div>
	<mwi-loader></mwi-loader>
	</section>


	<section>
	<a name="icons" class="anchor"></a>
	<div class="page-header">
	<h2 >Icons</h2>
	<h5>All Icons are in SVG format</h5>
	</div>
	<mwi-icons></mwi-icons>
	</section>


	</content-wrapper>
	</div>
	</div>
