<section class="example">

<item-wrapper>
<table class="order-history__table">
	<thead class="info-title">
		<tr>
			<td>Invoice / Status</td>
			<td>Invoice date / PO</td>
			<td>Invoice due date</td>
			<td class="text-right">Items</td>
			<td class="text-right">Total</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<div class="title--xs-small">
					<a>12345</a>
				</div>
			</td>
			<td>
				<div class="text-bold">Text Bold</div>
			</td>
			<td >Text Normal</td>
			<td class="text-bold text-large text-right rollup-title--detail--xs--small">Text aligned right and large</td>
			<td class="text-bold text-large text-right" >Text right and large</td>
		</tr>
		<tr>
			<td>
				<div class="title--xs-small">
					<a>12345</a>
				</div>
			</td>
			<td>
				<div class="text-bold">Text Bold</div>
			</td>
			<td >Text Normal</td>
			<td class="text-bold text-large text-right rollup-title--detail--xs--small">Text aligned right and large</td>
			<td class="text-bold text-large text-right" >Text right and large</td>
		</tr>

	</tbody>
</table>
</item-wrapper>
</section>
