<div>

	<div class="well well-header">
		<div class="container">
			<h2>
				Molecules
			</h2>
			<h5>Groups of elements (atoms) that function as a unit</h5>
		</div>
	</div>

	<side-wrapper>
		<div side-bar link-data="moleculesLinks"></div>
	</side-wrapper>

	<div class="container">

		<content-wrapper>
			<section>
				<a name="barChart" class="anchor"></a>
				<div class="page-header">
				<h2 >Bar chart</h2>
				<h5>For more info, visit <a href="http://carlcraig.github.io/tc-angular-chartjs/bar">angular-chart</a></h5>
				</div>
				<mwi-bar-chart></mwi-bar-chart>
			</section>

			<section>
				<a name="doughnutChart" class="anchor"></a>
				<h2 class="page-header">Doughnut chart</h2>
				<h5>For more info, visit <a href="http://carlcraig.github.io/tc-angular-chartjs/doughnut/">angular-chart</a></h5>
				<section class="example">
					<mwi-doughnut-chart></mwi-doughnut-chart>
				</section>
			</section>

			<section>
				<a name="mdMenu" class="anchor"></a>
				<h2 class="page-header">Md Menu</h2>
				<h5>For more info, visit <a href="https://material.angularjs.org/latest/demo/menu">Md menu</a></h5>
				<section class="example">
					<mwi-md-menu></mwi-md-menu>
				</section>
			</section>

			<section>
				<a name="datePicker" class="anchor"></a>
				<h2 class="page-header">Date picker</h2>
				<section class="example">
					<mwi-date-picker></mwi-date-picker>
				</section>
			</section>


		</content-wrapper>
	</div>
</div>
